{% extends 'base.html' %}

{% block content %}
<style>
.bd-sidebar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: 1000px;
  background: skyblue;
  border-right: 1px solid rgba(0,0,0,.1);
  overflow-y: auto;
  min-width: 160px;
  max-width: 200px;
}
.bd-sidebar .nav {
  display: block;
}
.bd-sidebar .nav>li>a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
}
</style>

<div class="container-fluid ">
  <div class="row flex-nowrap">
    <div class="col-3 bd-sidebar bg-light bg-opacity-25">
      <h5 class='d-flex justify-content-center my-3 text-light'>연관상품추천</h5>
      {% if request.user.isgeneral == '0' %}
      <a class='d-flex justify-content-center btn btn-dark' href= "{% url 'community:create' movie.pk%}" role="button">홍보하기</a>
      {% endif %}
      <ul class="d-flex nav justify-content-center mt-3">
          {% for advertisement in advertisements %}
        <li><a href="{% url 'community:detail' advertisement.pk%}">
          <img src={% if advertisement.picture %}
          {{advertisement.picture.url}}
          {%else%}
          "https://i.stack.imgur.com/34AD2.jpg"
          {% endif %}
          style="width:150px; height:150px;"></a></li>
        {% empty %}
        <p class="text-light text-opacity-75 d-flex justify-content-center my-5">연관된 상품이 없습니다.</p>
        {% endfor %}
      </ul>
      <br>
    </div>
    <main class="col-9 py-md-3 pl-md-5 bd-content" role="main">
      <h1 class="text-light mt-3 mx-3">{{movie.title}}</h1>
      <hr>
      <div class='d-flex text-light mx-3'>
      <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" style="width:250px; height=350px;" alt="">
      <div class="mx-3">{{ movie.overview|linebreaks }}
        <div class='text-warning d-flex'>장르 : 
          {% for genre in movie.genres.all %}
          {{genre}}
          &middot;
          {% endfor %}
          </div>
      </div>
      <hr>
    </div>
    <div class='d-flex justify-content-center my-5 '>
      <form class="like-form mx-5" data-movie-id="{{ movie.pk }}" action="{% url 'movies:likes' movie.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if user in movie.like_users.all %}
        <button id="like-{{ movie.pk }}" class="btn btn-link "><i id="fas-like" class="fas fa-heart fa-2xl" style="color:red;"></i></button>
        <span id="like-count-{{ movie.pk }}" class="text-light fs-5"> {{movie.like_users.all|length}} </span>
        {% else %}
        <button id="like-{{ movie.pk }}" class="btn btn-link "><i id="fas-like" class="fas fa-heart fa-2xl" style="color:white;"></i></button>
        <span id="like-count-{{ movie.pk }}" class="text-light fs-5">{{movie.like_users.all|length}}</span>
        {% endif %}
      </form>
      <form class="text-light wish-form" data-movie-id="{{ movie.pk }}" action="{% url 'movies:wish' movie.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if user in movie.wish_users.all %}
        <button id="wish-{{ movie.pk }}" class="btn btn-link "><i id="fas-wish" class="fas fa-folder-plus fa-2xl" style="color:yellow;"></i></button>
        <small id='wish-text'>보고싶은 영화 리스트에 추가</small>
        {% else %}
        <button id="wish-{{ movie.pk }}" class="btn btn-link "><i id="fas-wish" class="fas fa-folder-plus fa-2xl" style="color:white"></i></button>
        <small id='wish-text'>보고싶은 영화 리스트에 추가</small>
        {% endif %}
      </form>
      </div>
    
      <hr>
      <h4 class="text-light"> 댓글목록 </h4>
      {% if comments%}
        <p class="text-light"><b> {{comments|length}}개의 댓글이 있습니다. </b></p>
      {% endif %}
      <ul>
      {% for comment in comments %}
      <li class='d-flex'>
        <img src={% if user.picture %}"{{ user.picture.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} 
            width="50rem" height="50rem" style="border-radius: 50%;" alt="">
        <p class="mx-3 text-light fs-6 mt-2">{{comment.user}} : </p> <p class="mx-3 text-light fs-6 mt-2">{{comment.content}}</p> 
        <p class="mx-3 fs-6 mb-3 text-warning mt-2">{{comment.get_rating_display}}</p> 
        {% if comment.user == request.user %}
        {% comment %} <a href="{% url 'movies:update' movie.pk %}">수정</a> {% endcomment %}
        <form action="{% url 'movies:comments_delete' movie.pk comment.pk%}" method="POST" class="d-inline">
          {% csrf_token %}
          <input class='btn btn-danger' type="submit" value = "삭제">
        </form>
        {% endif %}
      </li>
      {%empty%}
      <p class='text-light'>이 영화에 대한 평가를 남겨보세요!</p>
      {% endfor %}
    </ul>
    <hr>
    {% if request.user.is_authenticated %}
    
    
    <form class='d-flex justify-content-center' action="{% url 'movies:comments_create' movie.pk%}" method="POST">
      {% csrf_token %}
      <table class='text-light'>
      {{comment_form.as_table}}
      </table>
      <input class = 'btn btn-primary' style='margin-top:30px; height:85px;'type="submit">
    </form>
    {% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인 하세요!</a>
    {% endif %}
    </main>
  </div>
</div>


{% endblock content %}

{% block script %}

<script>
  // 1. form 태그 class 선택자를 활용해서 선택
  const likeForms = document.querySelectorAll('.like-form')
  likeForms.forEach(form => {
    form.addEventListener('submit', event => {
      event.preventDefault() //원래 submit이 하는 기능 취소
      const movieId = event.target.dataset.movieId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      axios({
        method: 'POST',
        url: `/movies/${movieId}/likes/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          const count = response.data.count
          const liked = response.data.liked
          //const { count, liked } = response.data
          const likeButton = document.querySelector('#fas-like')
          const likeCount = document.querySelector(`#like-count-${movieId}`)
          if (liked === true) {
            likeButton.setAttribute('style', 'color:red;')
          }
          else{
            likeButton.setAttribute('style', 'color:black;')
          }
          likeCount.innerText = count
        })
  })
})

const wishForms = document.querySelectorAll('.wish-form')
  wishForms.forEach(form => {
    form.addEventListener('submit', event => {
      event.preventDefault() //원래 submit이 하는 기능 취소
      const movieId = event.target.dataset.movieId
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      axios({
        method: 'POST',
        url: `/movies/${movieId}/wish/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          const wished = response.data.wished
          const wishButton = document.querySelector('#fas-wish')
          const wishText = document.querySelector('#wish-text')
          if (wished === true) {
            wishButton.setAttribute('style', 'color:yellow;')
            wishText.innerText='보고싶은 영화 리스트에서 제거'
          }
          else{
            wishButton.setAttribute('style', 'color:black;')
            wishText.innerText='보고싶은 영화 리스트에 추가'
          }
        })
  })
})
</script>
{% endblock script %}



