{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class='d-flex justify-content-center mt-5'><small class='text-light'>원하시는 보기 방식을 선택해주세요.</small></div>
<div class='d-flex container justify-content-center my-3'>
<button id = 'white' type="button" class="btn btn-light mx-2">마이무비</button>
<button id = 'blue' type="button" class="btn btn-primary mx-2">지금의 영화</button>
<button id = 'yellow' type="button" class="btn btn-warning mx-2">오늘의 영화</button>
<button id = 'red' type="button" class="btn btn-danger mx-2">이 달의 영화</button>
<button id = 'green' type="button" class="btn btn-success mx-2">장르 어답터</button>
</div>


<div class='text-light' id="content">
  <div id='my_movie' style='display:block;'>
    <h1 class="logo mt-5"><b>마이무비</b></h1>
    {% if request.user.is_authenticated%}
    <h4 class="d-flex justify-content-center mt-4 mb-0">{{request.user.username}}님이 선호하시는 장르를 기반으로 영화를 추천합니다.</h4>
    <small class='d-flex mt-3 justify-content-center'>{{sunho_genres|safe}}</small>

    {% if my_movies %}
      <div class="d-flex container">
        <div class="slider m-3" style="padding-top:50px; padding-bottom:150px;" id="mySlider">
            {% for my_movie in my_movies %}
          <div class="movie" id="movie0">
            <a href="{% url 'movies:detail' my_movie.pk %}">  
            <img
              src="https://image.tmdb.org/t/p/original/{{my_movie.poster_path}}"
              alt="" srcset="">
            </a>
            <div class="description">
              <p class="mx-2 mb-1">{{my_movie.title|truncatechars:16}}</p><br>
              <small class="description__length mx-2"> ★ {{my_movie.vote_avg}}</small>   
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <h6 class='d-flex justify-content-center mt-5 my-1'>추천을 위한 데이터가 부족합니다!</h6>
      <br>
      <h6 class='d-flex justify-content-center'>재밌게 본 영화의 평가를 남겨주세요!</h6>
      <div class='d-flex justify-content-center'><img src = {% static '마이무비_로그인전2.png'%} style='width:900px; height:250px;'></div>
      {% endif %}
    {% else %}
    <h4 class="d-flex justify-content-center mt-4 mb-0"> 선호하는 장르를 기반으로 영화를 추천합니다.</h4>
    <h4 class='d-flex justify-content-center mt-2 mb-3'>로그인 후 이용하실 수 있는 서비스입니다.</h4>
    <div class='d-flex justify-content-center'><img src = {% static '마이무비_로그인전2.png'%} style='width:900px; height:250px;'></div>
      {% endif %}
      </div>
  
</div>

<div id='now_movie' style='display:none;'>
  <h1 class="logo mt-5"><b>지금의 영화</b></h1>
  <h4 class="d-flex justify-content-center mt-4 mb-0">{{now_message}}</h4>
  
  <div class="d-flex container ">
    <div class="slider m-3" style="padding-top:50px; padding-bottom:150px;" id="mySlider">
        {% for now_movie in now_movies %}
      <div class="movie" id="movie0">
        <a href="{% url 'movies:detail' now_movie.pk %}">  
        <img
          src="https://image.tmdb.org/t/p/original/{{now_movie.poster_path}}"
          alt="" srcset="">
        </a>
        <div class="description">
          <p class="mx-2 mb-1">{{now_movie.title|truncatechars:16}}</p><br>
          <small class="description__length mx-2"> ★ {{now_movie.vote_avg}}</small>   
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

<div id='this_month_movie' style='display:none;'>
  <h1 class="logo mt-5"><b>이 달의 영화</b></h1>
  <h4 class="d-flex justify-content-center mt-4 mb-0">{{this_month}}월에 개봉한 영화를 소개해 드립니다.</h4>
  
  <div class="d-flex container">
    <div class="slider m-3" style="padding-top:50px; padding-bottom:150px;" id="mySlider">
        {% for this_month_movie in this_month_movies %}
      <div class="movie" id="movie0">
        <a href="{% url 'movies:detail' this_month_movie.pk %}">  
        <img
          src="https://image.tmdb.org/t/p/original/{{this_month_movie.poster_path}}"
          alt="" srcset="">
        </a>
        <div class="description">
          <p class="mx-2 mb-1">{{this_month_movie.title|truncatechars:16}}</p>
          <small class="description__length"> ★ {{this_month_movie.vote_avg}}</small>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

  <div id='today_movie' style='display:none;'>
    <h1 class="logo mt-5"><b>오늘의 영화</b></h1>
    <h4 class="d-flex justify-content-center mt-4 mb-0">{{today_message}}</h4>
    <div class="container">
      <div class="slider m-3" style="padding-top:50px; padding-bottom:150px;" id="mySlider">
          {% for today_movie in today_movies %}
        <div class="movie" id="movie0">
          <a href="{% url 'movies:detail' today_movie.pk %}">  
          <img
            src="https://image.tmdb.org/t/p/original/{{today_movie.poster_path}}"
            alt="" srcset="">
          </a>
          <div class="description">
            <small class="mx-2">{{today_movie.title|truncatechars:16}}</small>
            <small class="description__length"> ★ {{today_movie.vote_avg}}</small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    </div>

    <div id='recommend_movie' style='display:none;'>
      <h1 class="logo mt-5"><b>장르 어답터</b></h1>
      <h4 class="d-flex justify-content-center mt-4 mb-0">{{recommend_message}}</h4>
      <small class='d-flex justify-content-center'>(영화관 입장권 통합 전산망에서 장르 데이터를 추출해 추천 영화 서비스를 제공해 드리고 있어요)</small>
      
      <div class="d-flex container ">
        <div class="slider m-3" style="padding-top:50px; padding-bottom:150px;" id="mySlider">
            {% for recommend_movie in recommend_movies %}
          <div class="movie" id="movie0">
            <a href="{% url 'movies:detail' recommend_movie.pk %}">  
            <img
              src="https://image.tmdb.org/t/p/original/{{recommend_movie.poster_path}}"
              alt="" srcset="">
            </a>
            <div class="description">
              <p class="mx-2 mb-1">{{recommend_movie.title|truncatechars:16}}</p><br>
              <small class="description__length mx-2"> ★ {{recommend_movie.vote_avg}}</small>   
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      </div>

{% endblock content %} 



{% block script %}
<script>

  
  const content = document.querySelector('#content');
  const child = content.firstChild
  const red = document.querySelector('#red')
  const yellow = document.querySelector('#yellow')
  const blue = document.querySelector('#blue')
  const white = document.querySelector('#white')
  const green = document.querySelector('#green')

  
  const my_movie = document.querySelector('#my_movie') 
  const this_month_movie = document.querySelector('#this_month_movie')  
  const today_movie = document.querySelector('#today_movie')
  const now_movie = document.querySelector('#now_movie')
  const recommend_movie = document.querySelector('#recommend_movie')
  
  white.addEventListener('click', event => {
    while ( content.hasChildNodes() )
     { content.removeChild( content.firstChild ); }

    my_movie.style.display='block'
    content.append(my_movie)
  })

  red.addEventListener('click', event => {
    while ( content.hasChildNodes() )
     { content.removeChild( content.firstChild ); }

    this_month_movie.style.display='block'
    content.append(this_month_movie)
  })
  
  
  yellow.addEventListener('click', event => {
    while ( content.hasChildNodes() )
    { content.removeChild( content.firstChild ); }
    today_movie.style.display='block'
    content.append(today_movie)
  })


  blue.addEventListener('click', event => {
    while ( content.hasChildNodes() )
    { content.removeChild( content.firstChild ); }
    now_movie.style.display='block'
    content.append(now_movie)
  })    
  
  green.addEventListener('click', event => {
    while ( content.hasChildNodes() )
    { content.removeChild( content.firstChild ); }
    recommend_movie.style.display='block'
    content.append(recommend_movie)
  })    
</script>
{% endblock script %}
                
