{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

        
    <h2 class='d-flex justify-content-center my-5 text-light'>영화 검색</h2>
    {% if movies %}
    <div class="container">
        <div class="row">  
    {% for movie in movies %}
    <div class="col-2 mx-3">    
    <a class = "text-decoration-none text-dark justify-content-center" href=" {% url 'movies:detail' movie.pk%} ">
                <img src=
                        "https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" width="150rem" height="150rem">
                    </a>
                    <div class='text-light my-2'>{{movie.title}}</div>
        </div>
            {% endfor %}
            
            <div class='mt-2 d-flex justify-content-center'>
                {% bootstrap_pagination movies %}
            </div>
             {% elif searched %}
            <b class = 'd-flex my-5 justify-content-center text-light'><i>({{ searched}})는 찾을 수 없습니다...</i></b>
            
            {% endif %}
        </div>


{% endblock %}