{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class = "d-flex my-3 justify-content-center">
<h2 class = 'text-light'>회원 검색</h2>
<br>
</div>


{% if users %}     
{% for user in users %}
<br>
<div class="d-flex mx-5">    
<a class = "text-decoration-none text-light justify-content-center" href=" {% url 'accounts:profile' user.username%} ">
            <img src=
                {% if user.picture %}
                    "{{ user.picture.url }}"
                {% else %}
                    "https://i.stack.imgur.com/34AD2.jpg"
                {% endif %}
                width="150rem" height="150rem" style="border-radius: 50%;" alt="">
                <p class="my-3">{{user}}님의 프로필</p>
        </a>
        <p class="text-light mx-5">{{user.bio}}<p>
    </div>
        {% endfor %}
        <div class='d-flex justify-content-center'>
            {% bootstrap_pagination users%}
        </div>
{% elif searched %}
    <b class = 'd-flex my-5 justify-content-center text-light'><i>({{ searched}})는 찾을 수 없습니다...</i></b>

    {% endif %}

<div class = "d-flex my-3 justify-content-center">
    <h2 class = 'text-light'>영화 검색</h2>
        <br>
    </div>
{% if movies%}
<br>
<div class=" container">
    <div class="row">
        {% for movie in movies %}
        <div class=" col-2 mx-3">    
<a class = " text-decoration-none text-light " href=" {% url 'movies:detail' movie.pk %} ">
            <img src=
                {% if movie.poster_path %}
                    "https://image.tmdb.org/t/p/original/{{movie.poster_path}}"
                {% else %}
                    "https://i.stack.imgur.com/34AD2.jpg"
                {% endif %}
                width="150rem" height="150rem" alt="">
            </a>
            <div class='my-2'>{{movie.title}}</div>
        </div>
        {% endfor %}
    </div>
    </div> 
    <div class='d-flex justify-content-center'>
        {% bootstrap_pagination movies%}
    </div>
{% elif searched %}
    <b class = 'd-flex my-5 justify-content-center text-light'><i>({{ searched }})는 찾을 수 없습니다...</i></b>
    {% endif %}



{% endblock %}
