{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
        
        <h2 class='d-flex justify-content-center my-5 text-light'>회원 검색</h2>
        {% if user_list %}     
        {% for user in user_list %}
        {% comment %} <hr style='color:white;'> {% endcomment %}
        <div class="d-flex mx-5 my-3">    
        <a class = "text-decoration-none text-dark justify-content-center" href=" {% url 'accounts:profile' user.username%} ">
                    <img src=
                        {% if user.picture %}
                            "{{ user.picture.url }}"
                        {% else %}
                            "https://i.stack.imgur.com/34AD2.jpg"
                        {% endif %}
                        width="150rem" height="150rem" style="border-radius: 50%;" alt="">
                        <div class="justify-content-center text-light ms-3 my-3">{{user}}님의 프로필</div>
                </a>
                <p class="mt-5 mx-5 text-light">{{user.bio}}</p>
            </div>
                {% endfor %}

                <div class='d-flex justify-content-center'>
                    {% bootstrap_pagination users %}
                </div>
        {% elif searched %}
            <b class = 'd-flex my-5 justify-content-center text-light'><i>({{searched}})는 찾을 수 없습니다...</i></b>
        
            {% endif %}





{% endblock %}
{% block script %}
{% comment %} <script> {% endcomment %}

  
    {% comment %} const content = document.querySelector('#content');
    const child = content.firstChild
    const user = document.querySelector('#user')
    const movie = document.querySelector('#movie')
    
    const userSearch = document.querySelector('#user-search')  
    const movieSearch = document.querySelector('#movie-search')
    
    user.addEventListener('click', event => {
      while ( content.hasChildNodes() )
       { content.removeChild( content.firstChild ); }
  
      userSearch.style.display='block'
      content.append(userSearch)
    })
    
    
    movie.addEventListener('click', event => {
      while ( content.hasChildNodes() )
      { content.removeChild( content.firstChild ); }
      movieSearch.style.display='block'
      content.append(movieSearch)
    }) {% endcomment %}
  
  </script>
{% endblock script %}

