{% extends 'base.html' %}

{% block content %}
<div>
<h2 class='text-light d-flex justify-content-center mt-5'>{{ advertisement.title }}</h2>
    <div class='d-flex justify-content-center bg-light bg-opacity-25' style="margin-left:250px;width:1000px;">
    <img class = "d-flex justify-content-center my-5" src={% if advertisement.picture %}"{{ advertisement.picture.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} 
            width="500px" height="500px" alt="">

            <div class='text-light my-5 mx-5'>{{ advertisement.content |linebreaks}} 
              {% if user == advertisement.user %}
  <div class='d-flex'>
              <a href="{% url 'community:update' advertisement.pk %}"><button class = 'btn btn-warning me-2'>수정</button></a>
  <form action="{% url 'community:delete' advertisement.pk %}" method="POST">
    {% csrf_token %}
    <input class='btn btn-danger' type="submit" value="삭제">
  </form>
</div>
{% endif %}
<br>
<a href ="{{advertisement.website}}"><button class='btn btn-light'>판매 사이트로 이동</button></a>
          </div>
          </div>
<hr>
<h4 class='mx-3 text-light'>댓글 목록</h4>
{% if comments %}
  <p class='mx-3 text-light'><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
{% endif %}
<ul>
  {% for comment in comments %}
    <li class='d-flex'>
      <img src={% if user.picture %}"{{ user.picture.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} 
          width="50rem" height="50rem" style="border-radius: 50%;" alt="">
      <p class="mx-3 text-light fs-6 mt-2">{{comment.user}} : </p> <p class="mx-3 text-light fs-6 mt-2">{{comment.content}}</p> 
      <p class="mx-3 fs-6 mb-3 text-warning mt-2">{{comment.get_rating_display}}</p> 
      {% if comment.user == request.user %}
      {% comment %} <a href="{% url 'movies:update' movie.pk %}">수정</a> {% endcomment %}
      <form action="{% url 'community:comments_delete' advertisement.pk comment.pk%}" method="POST" class="d-inline">
        {% csrf_token %}
        <input class='btn btn-danger'type="submit" value = "삭제">
      </form>
      {% endif %}
    </li>
  {% empty %}
    <p class='text-light'>댓글이 없어요..</p>
  {% endfor %}
</ul>

<hr>
{% if request.user.is_authenticated %}

  <form class='d-flex justify-content-center' action="{% url 'community:comments_create' advertisement.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.content }}
    <input class = 'btn btn-primary' type="submit">
  </form>

{% else %}
  <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}
{% endblock content %}
