{% extends 'base.html' %}

{% block content %}
  <h1 class="d-flex justify-content-center my-5">씨네마켓</h1>
  
  {% for advertisement in advertisements %}
    <p class="d-flex mx-5 justify-content-start">
      <a class="text-decoration-none text-dark mt-2 ms-3" href="{% url 'accounts:profile' advertisement.user.username %}">
        <img src={% if advertisement.user.picture %}"{{advertisement.user.picture.url}}"
      {% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} style="width:50px; height:50px;">
      {{ advertisement.user }}
      </a>
    </p>
    <hr>
    <div >
    <h5 class="d-flex mx-5 justify-content-end">관련영화 : <a class='mx-2' href="{% url 'movies:detail' advertisement.movie.pk%}"> {{advertisement.movie}} </h5></a>
    <div class="d-flex justify-content-center"><img src= {% if advertisement.picture %}"{{advertisement.picture.url}}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} style="width:300px; height:300px;"></div>
    <h3 class="mx-5 my-5">{{ advertisement.title }}</h3>
    <div class="mx-5"><p>{{ advertisement.content |linebreaks |truncatechars:100}}<a href="{% url 'community:detail' advertisement.pk %}">[더 보기]</a></p></div>
    </div>
      
  {% if request.user.is_authenticated %}
  <div class="d-flex justify-content-center">    
  <form class="like-form" data-advertisement-id="{{ advertisement.pk }}">
        {% csrf_token %}
        {% if user in advertisement.like_users.all %}
          {% comment %} <button id="like-{{ article.pk }}">좋아요 취소</button> {% endcomment %}
          <button class="btn btn-link">
            <i id="like-{{ advertisement.pk }}" class="fas fa-heart fa-2xl" style="color:crimson;"></i> 
          </button>
        {% else %}
          {% comment %} <button id="like-{{ article.pk }}">좋아요</button> {% endcomment %}
          <button class="btn btn-link">
            <i id="like-{{ advertisement.pk }}" class="fas fa-heart fa-2xl" style="color:black;"></i> 
          </button>
        {% endif %}
      </form>
      {% endif %}
      <p>
        <span class="fs-4 " id="like-count-{{ advertisement.pk }}">
          {{ advertisement.like_users.all|length }}
        </span>
      </p>
    </div>
    <hr>
  {% endfor %}
{% endblock content %}

{% block script %}
  <script>
    // 1. form 태그 class 선택자를 활용해서 선택
    const forms = document.querySelectorAll('.like-form')
    forms.forEach(form => {
      // console.log(form)
      form.addEventListener('submit', event => {
        event.preventDefault()
        //console.log(event)
        const advertisementId = event.target.dataset.advertisementId
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        //console.log(csrftoken)
        //axios.post(`http://127.0.0.1:8000/articles/${articleId}/likes/`, {},{'X-CSRFToken': csrftoken} )
        axios({
          method: 'post',
          url: `/community/${advertisementId}/likes/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then(response => {
            console.log(response)
            // 구조분해할당
            // const { count, liked } = response.data
            const count = response.data.count
            const liked = response.data.liked
            // console.log(count, liked)

            const likeButton = document.querySelector(`#like-${advertisementId}`)
            const likeCount = document.querySelector(`#like-count-${advertisementId}`)
            if(liked){
              // likeButton.innerText = '좋아요 취소'
              likeButton.style.color = 'crimson'
            }
            else {
              //likeButton.innerText = '좋아요'
              likeButton.style.color = 'black'
            }
            // lkieButton.innerText = liked ? 좋아요 취소 : '좋아요'
            

            likeCount.innerText = count
          })
      })
    })
  </script>
{% endblock script %}
