{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
  
<div class="position-absolute top-50 start-50 translate-middle text-light">
  <h1 class="d-flex justify-content-center">로그인</h1>
  <hr>
  <form class="d-flex justify-content-center" action="" method="POST">
    {% csrf_token %}
    <table>
    <tr>{{ form.as_table }}</tr>
    </table>
    <input class="btn btn-light" style = "margin-left:10px; height:80px;" type="submit" value="로그인">
  </form>
  <div class="d-flex justify-content-center text-light my-2">
      <a href="{% provider_login_url 'google' next='/movies/'%}"><img src="{% static '구글 로그인.png' %}" alt=""></a>
  </div>
  <div class="d-flex justify-content-center text-light">
    <a href="{% provider_login_url 'naver' next='/movies/'%}"><img src="{% static '네이버 로그인.png' %}" style="width:190px; height:43px;" alt=""></a>
  </div>
  <div id="my-signin2"></div>
  </div>
{% endblock content %}
