{% extends 'base.html' %}

{% block content %}

<div class = 'd-flex justify-content-center'>
    <div class="col-3">
        <img class = "mt-5" src={% if person.picture %}"{{ person.picture.url }}"{% else %}"https://i.stack.imgur.com/34AD2.jpg"{% endif %} 
            width="150rem" height="150rem" style="border-radius: 50%;" alt="">
    </div>
    {% with followers=person.followers.all followings=person.followings.all%}
    <div class = 'text-light mt-5 pt-3 ms-0'>
        <h2 class="text-light">{{person.username}}<span class="fs-6 ms-3">{{person.get_isgeneral_display}}</span></h2>
    마이무비 : {{ my_movies | length }} / 팔로워 : <span id = 'followers'>{{ followers|length }}</span> / 팔로잉 : <span id = 'followings'>{{ followings|length }}</span>  
    <div>
        {% if user != person %}
        <form class = 'follow-form' data-person-id="{{ person.pk }}" action="{% url 'accounts:follow' person.pk%}" method = "POST">
        {% csrf_token %}
        {% if user in followers %}
            <input id = "submit_input" type="submit" value = "언팔로우">
        {% else %}
            <input id = "submit_input" type="submit" value = "팔로우">
        {% endif %}
    </form>
    {% endif %}
    </div>
    <div class = "mt-3">
        {% if user == person %}
        <a class="btn btn-info" href="{% url 'accounts:update' %}" role="button">프로필 편집</a>
        {% endif %}
    </div>    
</div>
{% endwith %}
</div>
<br>
<br>
{% comment %} 마이무비 목록 {% endcomment %}
{% if person.isgeneral == '1' %}
<div class = 'd-flex my-5 justify-content-evenly'>
    <h2 class="text-light">{{person.username}}님의 마이무비</h2>
</div>
<div class = 'd-flex justify-content-center container'>    
 <div class="row">
    {% for my_movie in my_movies %}
        <div class = 'col-2 ms-5'>
    <a class='text-decoration-none text-light ' href="{% url 'movies:detail' my_movie.pk %}">
        <img src="https://image.tmdb.org/t/p/original/{{my_movie.poster_path}}" style = "width: 200px; height: 250px;" alt="">
        <p class="d-flex justify-content-center ms-2">{{my_movie.title}}</p>
    </a>
</div>
{% endfor %}
</div>  
</div>
<br>
<br>
{% else %}
<div class = 'd-flex my-5 justify-content-evenly'>
    <h2 class="text-light">{{person.username}}님의 씨네마켓</h2>
</div>
<div class = 'd-flex container'>    
 <div class="row">
    {% for advertisement in advertisements %}
        <div class = 'col-2'>
    <a class='text-decoration-none text-light ' href="{% url 'community:detail' advertisement.pk %}">
        <img src="{{advertisement.picture.url}}" style = "width: 200px; height: 250px;" alt="">
    </a>
</div>
<p class="">{{advertisement.title}}</p>
{% endfor %}
</div>  
</div>
<br>
<br>
{% endif %}
<a class="nav-link active text-warning" href="{% url 'movies:index' %}">
    <form action="{% url 'accounts:delete' %}" method = 'POST'>
      {% csrf_token %}
      <input class = "text-warning" style="border:none; background:none;" type="submit" value = "Withdrawal">
    </form>
  </a>
{% endblock content %}

{% block script %}
{% if user != person %}
<script>
  // 1. form 태그 class 선택자를 활용해서 선택 
  const followForm = document.querySelector('.follow-form')
  followForm.addEventListener('submit', event => {
  event.preventDefault() //원래 submit이 하는 기능 취소
  const personId = event.target.dataset.personId
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      axios({
        method: 'POST',
        url: `/accounts/${personId}/follow/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then(response => {
          const followed = response.data.followed
          const followings_count = response.data.followings_count
          const followers_count = response.data.followers_count
          const followButton = document.querySelector('#submit_input')
          const followings = document.querySelector('#followings')
          const followers = document.querySelector('#followers')
          if (followed === true) {
            followButton.setAttribute("value","언팔로우")
            followButton.style.color = "black"
          }
          else{
            followButton.setAttribute("value","팔로우")
            followButton.style.color = "blue"
          }
          followings.innerText = followings_count 
          followers.innerText = followers_count 
       })
  })
</script>
{% endif %}
{% endblock script %}


