{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'css/base.css'%}">
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <script src="https://kit.fontawesome.com/a0043d9bc2.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4c186c9723.js" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

  
  <title>일타무비</title>
  
</head>
<body>
  {% comment %} 로그인 상태의 출력 {% endcomment %}
  {% if request.user.is_authenticated%}
  
  <nav class="d-flex bg-primary bg-opacity-25 navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand mx-5 mt-3" href="{% url 'movies:index' %}"><img src="{% static '일타무비.png' %}" style="width:120px; height:70px;"></a>
      <button class="navbar-toggler bg-light border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <small>메뉴</small>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <select id='selection' class="form-select form-select-sm me-1" onchange = 'onChange();' style="width:100px; height:38px;" aria-label="Default select example">
          <option value="1">회원검색</option>
          <option value="2">영화검색</option>
        </select>
        <form id = 'search' class="d-flex me-5" method="POST" action="/movies/usersearch/">
          {% csrf_token %}        
          <input class="form-control me-2 " style="width:500px;" type="search" placeholder="찾고있는 회원이나 영화가 있나요?" name="searched" aria-label="Search">
          <button class="btn btn-success me-5" style="width: 80px;" type="submit"> 검색 </button>
      </form>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active text-dark p-0" href="{% url 'accounts:profile' user.username %}">
              <div>
              <img class='mt-2'src= {% static '마이페이지.png'%} style="width:90px; height:70px;">
            </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mt-1 p-0" href="{% url 'community:index'%}">
              <div>
              <img src={%static '씨네마켓.png'%} style="width:90px; height:70px;">
              </div>
            </a>
          </li>
          <li class="nav-item">
              <form class="mt-1 p-0"action="{% url 'accounts:logout' %}" method = "POST">
                {% csrf_token %}
                <input type= "image" src = {%static '로그아웃.png'%} style="width:90px; height:70px;">
              </form>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
  
  {% comment %} 비로그인 상태의 출력 {% endcomment %}
    {% else %}
    
    <nav class="navbar navbar-expand-lg bg-primary bg-opacity-25">
      <div class="d-flex container-fluid">
        <a class="navbar-brand ms-5" href="{% url 'movies:index' %}"><img src="{% static '일타무비.png' %}" style="width:120px; height:70px;"></a>
        <button class="navbar-toggler bg-light border-light me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <small>메뉴</small>
        </button>
        <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
          <select id='selection' class="form-select form-select-sm" onchange = 'onChange();' style=" margin-left:100px; width:100px; height:40px;" aria-label="Default select example">
            <option value="1">회원검색</option>
            <option value="2">영화검색</option>
          </select>
          <form id = 'search' class="d-flex ms-1" method="POST" action="/movies/usersearch/">
            {% csrf_token %}        
            <input class="form-control me-2 " style="width:500px;" type="search" placeholder="찾고있는 회원이나 영화가 있나요?" name="searched" aria-label="Search">
            <button class="btn btn-primary" style="width: 80px;" type="submit">검색</button>
        </form>
          <ul class="navbar-nav mx-5 justify-content-end">
            <li class="nav-item" style = "margin-left:100px;">
              <a class="nav-link active" href="{% url 'accounts:login'%}">
                <img src={%static '로그인.png'%} style="width:90px; height:70px;">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:signup' %}">
                <img src={%static '회원가입.png'%} style="width:90px; height:70px;">
              </a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
      
    {% endif %}
    {% block content %}
    {% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{%static 'js/script.js'%}" type="text/javascript"></script> 
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
  function onChange() {
    const value = document.querySelector("#selection").options[document.querySelector("#selection").selectedIndex].value;
  const search = document.querySelector('#search')
  if (value === '1'){
    search.setAttribute('action', '/movies/usersearch/')
  } else if (value === '2'){
    search.setAttribute('action', '/movies/moviesearch/')
  }
  }
</script>  

{% block script %}


  {% endblock script %}
</body>
</html>

<style>
  body {
    background-image: url({% static '배경.jpg' %});
  }
  </style>